@{
    Layout="Shared/_Layout.cshtml";
}

<h3>All the restaurants in @Model["cuisine"].GetName():</h3>

@if (@Model["restaurants"].Count == 0)
{
  <h4> No restaurants for this type of cuisine has been added </h4>
}
else
{
<ol>@foreach (var restaurant in @Model["restaurants"])
{
  <li>@restaurant.GetName()</li>
    <ul>
      <li>@restaurant.GetDate().ToShortDateString()</li> <li>@restaurant.GetFavDish()</li>
    </ul>
}
</ol>
}

<form action="/cuisine/@Model["cuisine"].GetId()/cleared" method="post">
  <button type="submit" name="button" class="btn btn-lg btn-info">Delete All Restaurants in this Cuisine</button>
</form>

<form action="/cuisine/@Model["cuisine"].GetId()/deleted" method="post">
  <button type="submit" name="button" class="btn btn-lg btn-info">Delete this Cuisine</button>
</form>

<h2>Edit cuisine: @Model["cuisine"].GetName()</h2>
<form action="/cuisine/edit/@Model["cuisine"].GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="cuisine-id" type="hidden" value="@Model["cuisine"].GetId()">
  <label for="cuisine-name">Name</label>
  <input id="cuisine-name" name="cuisine-name" type="text">
  <button type="submit" class="btn btn-lg btn-info">Submit</button>
</form>


<div class="row">
  <a href="/restaurants">See all restaurants</a><br>
  <a href="/cuisines">See all cuisines</a><br>
  <a href="/">Home Page</a>
</div>
