@{
    Layout="Shared/_Layout.cshtml";
}

<h3>Information for @Model["restaurant"].GetName():</h3>

<ul>
  <li>@Model["restaurant"].GetDate().ToShortDateString()</li>
  <li>@Model["restaurant"].GetFavDish()</li>
  <li>@Model["cuisine"].GetName()</li>
</ul>

<h2>Edit restaurant: @Model["restaurant"].GetName()</h2>
<form action="/restaurant/edit/@Model["restaurant"].GetId()" method="post" id="update">
  <input type="hidden" name="_method" value="PATCH">
  <input name="restaurant-id" type="hidden" value="@Model["restaurant"].GetId()">
  <label for="restaurant-name">New Name:</label>
  <input id="restaurant-name" name="restaurant-name" type="text">

  <label for="restaurant-fav-dish">New Fav Dish:</label>
  <input id="restaurant-fav-dish" name="restaurant-fav-dish" type="text">

  <label for="restaurant-date">New Date:</label>
  <input id="restaurant-date" name="restaurant-date" type="date">

  <label for="restaurant-cuisineid">New Cuisine:</label>
  <select name="restaurant-cuisineid">
    <option value="0"></option>
    @foreach (var cuisine in @Model["cuisines"])
    {
      <option value="@cuisine.GetId()">@cuisine.GetName()</option>
    }
  </select>

  <button type="submit" class="btn btn-lg btn-info">Submit</button>
</form>

<form action="/restaurant/@Model["restaurant"].GetId()/deleted" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" name="button" class="btn btn-lg btn-info">Delete this Restaurant</button>
</form>

<div class="row">
  <a href="/restaurants">See all restaurants</a><br>
  <a href="/cuisines">See all cuisines</a><br>
  <a href="/">Home Page</a>
</div>
